* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* RESETS */
img {
  display: block;
  max-width: 100%;
}
.circleimg {
  border-radius: 40px;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

/* Body */
body {
  background-color: rgba(20, 19, 24);
  font-family: "Open Sans", sans-serif;
}
/* Wrapper */

.wrapper {
  overflow: hidden;
  display: flex;
  height: calc(100vh - 80px);
}

/* Sidebar */
.sidebar {
  background-color: rgba(20, 19, 24);
  width: 130px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding-top: 10px;

  overflow: auto;
  scrollbar-width: none;
}

/* Servers */

.server {
  height: 80px;
  width: 80px;

  margin-top: 10px;

  border-radius: 50px;

  object-fit: cover;
}
.chats {
  height: 70px;
  width: 70px;

  margin-top: 10px;

  border-radius: 50px;

  object-fit: cover;
  position: relative;

  cursor: pointer;
}
/* Transition bar */
.selected::before {
  content: "";
  height: 70px;
  width: 30px;

  background-color: white;
  border-radius: 10px;

  position: absolute;
  bottom: 0%;
  right: 135%;
}
.toselect::before {
  content: "";
  height: 70px;
  width: 30px;

  position: absolute;
  right: 99%;

  border: 3px solid rgba(20, 19, 24);
  background-color: white;
  border-radius: 10px;

  opacity: 0;
}
/* Transition server */
.toselect:hover::before {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.zooming {
  transition: transform 0.2s;
}
.zooming:hover {
  transform: scale(1.4);
  cursor: pointer;
}

/* MAIN */
Main {
  background-color: rgba(28, 29, 34);

  flex-grow: 1;

  border-top-left-radius: 10px;

  overflow: auto;

  margin-top: 10px;
  padding: 15px;
}

.mess {
  color: white;

  padding-left: 30px;
  padding-top: 30px;
}
.friendsection {
  display: flex;

  height: 53px;

  padding-top: 12px;
  padding-left: 30px;
  padding-right: 30px;

  cursor: pointer;
}

.search {
  background-color: rgba(55, 58, 67);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;

  margin-right: 10px;
  border-radius: 20px;

  color: white;
}
.friendadd {
  background-color: rgba(55, 58, 67);

  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 20px;

  color: white;
  font-size: 25px;
}
/* FRIENDS */
.friends {
  display: flex;
  flex-direction: column;

  margin-top: 20px;

  color: white;
}
.card {
  flex: 1 1 0;
  display: flex;
  gap: 20px;

  border-radius: 20px;

  padding: 20px;

  opacity: 0.5;
}
.pfp {
  height: 50px;
  width: 50px;

  border-radius: 50px;

  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.nickname {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.time {
  padding-right: 5px;
}
/* Hover on Card */
.card:hover {
  opacity: 1;
  transition: opacity 0.5s ease-out;
  background-color: rgba(38, 38, 46);
  cursor: pointer;
}
/* Footer */
footer {
  margin-top: auto;

  background-color: rgba(45, 45, 53);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  height: 80px;
  padding: 10px;
}
.footericon {
  flex: 1 1 0;

  text-align: center;
  color: white;
}
.yourpfp {
  height: 60px;
  width: 35px;

  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 0;

  color: white;
}
/* Transition on FOOTER */

.footericon,
.yourpfp {
  opacity: 0.5;
}

.yourpfp:hover {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.footericon:hover {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

/* status */

.offline::before {
  content: "";

  height: 15px;
  width: 15px;

  position: absolute;
  left: 60%;
  top: 55%;

  background-color: rgba(249, 67, 73);
  border: solid 8px rgba(28, 29, 34);
  border-radius: 20px;
}

.inactive::before {
  content: "";

  height: 15px;
  width: 15px;

  position: absolute;
  left: 60%;
  top: 55%;

  background-color: rgba(244, 167, 27);
  border: solid 8px rgba(28, 29, 34);
  border-radius: 20px;
}

.online::before {
  content: "";

  height: 15px;
  width: 15px;

  position: absolute;
  left: 60%;
  top: 55%;

  background-color: rgba(57, 166, 93);
  border: solid 8px rgba(28, 29, 34);
  border-radius: 20px;
}

/* Transition BORDER */
.card:hover .online::before,
.card:hover .offline::before,
.card:hover .inactive::before {
  border: solid 8px rgba(38, 38, 46);
}
