* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* Body */
body {
  background-color: rgba(45, 45, 53);
}
/* Wrapper */

.wrapper {
  overflow: hidden;
  display: flex;
  height: calc(100vh - 80px);
}

/* Sidebar */
.sidebar {
  gap: 4px;
  background-color: rgba(20, 19, 24);
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

/* Servers */

.server {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  border-radius: 50px;
  object-fit: cover;
  overflow: hidden;
}
.chats {
  height: 70px;
  width: 70px;
  background-color: white;
  margin-top: 10px;
  border-radius: 50px;
  object-fit: cover;
}

/* MAIN */
Main {
  background-color: rgba(28, 29, 34);
  flex-grow: 1;
}

/* Footer */
footer {
  margin-top: auto;
  background-color: rgba(45, 45, 53);
  display: flex;
  height: 80px;
}
