* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* Body */
body {
  background-color: rgba(20, 19, 24);
}
/* Wrapper */

.wrapper {
  overflow: hidden;
  display: flex;
  height: calc(100vh - 80px);
}

/* Sidebar */
.sidebar {
  gap: 4px;
  background-color: rgba(20, 19, 24);
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

/* Servers */

.server {
  height: 80px;
  width: 80px;
  margin-top: 10px;
  border-radius: 50px;
  object-fit: cover;
  overflow: hidden;
}
.chats {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  border-radius: 50px;
  object-fit: cover;
  position: relative;
}
.selected::before {
  content: "";
  height: 70px;
  width: 30px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  bottom: 0%;
  right: 120%;
}

.hide {
  height: 70px;
  width: 30px;
  background-color: white;
  position: absolute;
  right: 99%;
  border-radius: 10px;
  transition: opacity 0.4s ease;
  opacity: 0;
}

div.server.zooming:hover > div.hide {
  opacity: 1;
}
div.server.zooming:hover > img {
  transform: scale(1.2);
}

/* MAIN */
Main {
  background-color: rgba(28, 29, 34);
  flex-grow: 1;
  border-top-left-radius: 10px;
  overflow: auto;
  margin-top: 10px;
}

/* Footer */
footer {
  margin-top: auto;
  background-color: rgba(45, 45, 53);
  display: flex;
  height: 80px;
}
