* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  border-radius: 20px;
  overflow: hidden;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* Body */
body {
  background-color: rgba(20, 19, 24);
  font-family: "Open Sans", sans-serif;
}
/* Wrapper */

.wrapper {
  overflow: hidden;
  display: flex;
  height: calc(100vh - 80px);
}

/* Sidebar */
.sidebar {
  gap: 4px;
  background-color: rgba(20, 19, 24);
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

/* Servers */

.server {
  height: 80px;
  width: 80px;
  margin-top: 10px;
  border-radius: 50px;
  object-fit: cover;
  overflow: hidden;
}
.chats {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  border-radius: 50px;
  object-fit: cover;
  position: relative;
}
.selected::before {
  content: "";
  height: 70px;
  width: 30px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  bottom: 0%;
  right: 135%;
}

.hide {
  height: 70px;
  width: 30px;
  background-color: white;
  position: absolute;
  right: 99%;
  border-radius: 10px;
  transition: opacity 0.4s ease;
  opacity: 0;
}

div.server.zooming:hover > div.hide {
  opacity: 1;
}
div.server.zooming:hover > img {
  transform: scale(1.2);
}

/* MAIN */
Main {
  background-color: rgba(28, 29, 34);
  flex-grow: 1;
  border-top-left-radius: 10px;
  overflow: auto;
  margin-top: 10px;
  padding: 15px;
}

.mess {
  color: white;
  padding-left: 30px;
  padding-top: 30px;
}
.friendsection {
  display: flex;
  height: 53px;
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 30px;
}

.search {
  background-color: rgba(55, 58, 67);
  display: flex;
  width: 40px;
  margin-right: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  color: white;
}
.friendadd {
  background-color: rgba(55, 58, 67);
  display: flex;
  flex-grow: 1;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  font-size: 25px;
}
/* FRIENDS */
.friends {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  color: white;
}
.card {
  flex: 1 1 0;
  display: flex;
  gap: 20px;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.5;
}
.pfp {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nickname {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.time {
  padding-right: 5px;
}
/* Hover on Card */
.card:hover {
  opacity: 1;
  transition: opacity 0.5s ease-out;
  background-color: rgba(38, 38, 46);
}
/* Footer */
footer {
  margin-top: auto;
  background-color: rgba(45, 45, 53);
  display: flex;
  height: 80px;
  padding: 10px;
  align-items: flex-start;
  justify-content: space-between;
}
.footericon {
  flex: 1 1 0;
  text-align: center;
  color: white;
}
.yourpfp {
  height: 60px;
  flex: 1 1 0;
  width: 35px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
